/* src/components/Header.css */

/* Controla la altura del AppBar */
.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px; /* La altura estándar del AppBar de Material-UI */
  }
  
  /* Estilos para la imagen del logo */
  .header-logo {
    height: 100%;
    max-height: 64px; /* Limita la altura para que coincida con el AppBar */
    object-fit: contain; /* Asegura que la imagen se ajuste correctamente sin deformarse */
    margin-right: 16px; /* Espacio entre el logo y los botones */
  }
  